# Node dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk files
.DS_Store

# Build output (ako bude potreban)
dist/
build/
